<%- include('./partials/header') %>
<form class="form-container" action="/users/login" method="POST">
  <h1 class="container-title">Sign In</h1>
  <div class="email-input">
    <input type="email" name="email" value="" placeholder="Email">
  </div>
  <div id="password-input">
    <input type="password" name="password" value="" placeholder="Password">
  </div>
  <button>Submit</button>
   <p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
  </p>
</form>
<%- include('./partials/footer') %>
