<header>
  <h1>Codiel</h1>
  <nav id="navigation">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/users/logout">Logout</a></li>
      <li id="avatar">
        <h3>Name: <%= user.name %></h3>
      </li>
    </ul>
  </nav>
</header>