<header>
  <h1>Codiel</h1>
  <nav id="navigation">
    <ul>
      <% if(locals.user) { %>
      <li id="avatar">
        <a href="#"><%= user.name  %></a>
      </li>
      <li>
        <a href="/users/logout">Logout</a>
      </li>
      <% } else {%>
        <li>
          <a href="/users/login">Sign Up</a>
        </li>
        <li>
          <a href="/users/register">Sign In</a>
        </li>
        <% } %>
    </ul>
  </nav>
</header>